@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    transition:  .2s linear;
    text-decoration: none;
    text-transform: capitalize;
}

body {
    padding: 3rem;
    background: rgb(27, 1, 34);
}

.card {
    margin: 0 auto;
    width: 20rem;
    background: rgb(37, 24, 68);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
    overflow: hidden;
    border-radius: 1rem;
}

.card .box {
    width: 100%;
}

.card .box .image {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.card .box .image img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
}

.card .box .image .overlay {
    width: 100%;
    height: 99%;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 1rem;
    opacity: 0;
    background: rgb(73, 38, 70);
    z-index: 200000;
}

.card .box .image .overlay img {
    z-index: 1000;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 40%;
    left: 45%;
}

.card .box .image .overlay:hover {
    opacity: .6;
}

.card .box .card-content {
    padding: .5rem 0;
}

.card .box .card-content .card-heading {
    color: #fff;
}

.card .box .card-content .card-heading:hover {
    color: rgb(111, 56, 173);
}

.card .box .card-content p {
    color: grey;
    padding: 1.5rem 0;
    line-height: 1.8;
}

.card .box .card-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}

.card .box .card-icons .crystal,
.card .box .card-icons .time {
    display: flex;
    align-items: center;
}

.card .box .card-icons a {
    margin-left: .5rem;
    color: #fff;
}

.card .box .card-icons a:hover {
    color: rgb(111, 56, 173);
}

.founder {
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
    justify-content: space-between;
    align-items: center;
}

.founder .image {
    flex: 1 1 .2rem;
    border-radius: 50%;
}

.founder .image img {
    width: 100%;
}

.founder .content p {
    color: #fff;
}

.founder .content a {
    color: #fff;
}

.founder .content a:hover {
    color: rgb(145, 81, 197);
}

